{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="mb-3" style="width:75%;padding:50px;position:relative;">
    <label class="form-label" style="color:white">TEXT</label>
    <input type="text" class="form-control" name="t" value="{{user_input}}" placeholder="Upload Text">
  </div>
  <input type="submit" class="btn btn-warning" style="position:absolute;right:300px;top:85px;">

     <div class="mb-3" style="width:75%;padding-top:10px;padding-left:50px;position:relative;">
    <label class="form-label" style="color:white">PREDICTIVE-TEXT</label>
    <input type="text" class="form-control" name="pt" value="{{ predictive_text }}">
  </div>
  <a class="btn btn-warning" href="{% url 'application:texttranslate' %}" style="position:absolute;right:800px;top:300px;">Translate</a>
</form>

{% endblock %}